body {
    font-family: Arial, sans-serif;
}

.logo-text {
    font-size: 30px;
    color: #061341;
    font-weight: 500;
}

/* Hero Section */
.main {
    color: white;
    background-blend-mode: overlay;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.search-container input {
    margin-right: 5px; 
}

.search-container i {
    font-size: 16px; 
    margin-right: 10px;
}
.search-container button {
    background-color: #061341;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Activity Cards */
.activities h2 {
    font-weight: bold;
}
.custom-carousel {
    margin: 0 auto;
    position: relative;
    top: 30px;
    width: 90%;
    height: 600px; /* Increased fixed height */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    height: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(18, 6, 85, 0.5);
    border-radius: 50%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }
  .carousel-item {
    flex: 0 0 auto; 
    width: 100%; 
    height: 100%;
  }
  
  .recommended-trips {
    background: linear-gradient(135deg, #EAF6FF, #d0e8ff);
    padding: 50px 20px;
    border-radius: 20px;
  }
  

.card {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px; 
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    /* Increased height for card images */
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 

    padding: 1.25rem;
}

.card-body .btn-container {
    margin-top: auto; 
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0; 
}

.card-body .btn-container .btn {
    width: 100%; 
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Trip Cards */
.trip-card img {
    border-radius: 15px;

}

.trip-card .btn {
    align-self: center; 
    margin-top: auto;
}


/* Testimonials */
.appraisals .testimonial {
    font-style: italic;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
}

/* Footer */
footer p {
    margin-bottom: 10px;
}

footer .list-inline-item a:hover {
    text-decoration: underline;
}